.popup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem;

  &__input {
    height: 4rem;
    border-radius: 3px;
    border: 1px solid $color-grey-light-3;
    padding: 0 8px;
    font-size: 1.8rem;
    outline: none;
  }

  &__task {
    height: 6rem;
    width: $item-width;
    padding: 0 5rem 0 3rem;
    display: flex;
    align-items: center;
    background-color: $color-grey-light-1;

    &--name {
      flex: auto;
      max-width: 60rem;
    }

    &--date {
      margin: 0 auto 0 2rem;
      flex: 0 0 auto;
    }

    .btn--cancel {
      margin-left: 2rem;
    }
  }
}

.popup__btns {
  display: flex;
  justify-content: center;
  gap: 2rem;

  .btn {
    width: 10rem;
    padding: 0.8rem 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.8rem;

    &--cancel {
      background-color: white;
      color: $color-grey-dark-1;
      border: 2px solid $color-grey-light-3;

      &:hover {
        color: $color-primary-dark;
        border: 2px solid $color-primary-dark;
        background-color: $color-grey-light-1;
        background-color: rgba($color-primary-light, 0.2);
      }
    }

    &--add {
      background-color: rgba($color-primary-dark, 0.8);
      color: white;
      border: 2px solid $color-primary-light;

      &:hover {
        background-color: $color-primary-dark;
      }
    }
  }
}
