.projects {
  overflow-y: scroll;
  height: 18rem;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($color-primary-dark, 0.4);

    &:hover {
      background: $color-primary-dark;
    }
  }
}
