.sidebar {
  &__filter-option {
    list-style: none;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0 2.2rem;

    &--active {
      background-color: $color-primary-light;
    }

    &:hover {
      background-color: $color-grey-light-2;
    }
  }
}

.projects-item {
  &--delete {
    margin-left: auto;
    fill: $color-grey-dark-1;
    position: relative;
    z-index: 3;
  }
}
