.todo-item {
  height: 5rem;
  width: 90%;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  background-color: $color-grey-light-1;
  color: $color-grey-dark-1;

  &--high {
    border-left: 3px solid $color-priority-high;
  }

  &--medium {
    border-left: 3px solid $color-priority-medium;
  }

  &--low {
    border-left: 3px solid $color-priority-low;
  }
  &:hover {
    transform: scale(1.001);
    box-shadow: 0 0.3rem 0.5rem 0.2rem rgb(0, 0, 0, 0.2);
  }
}
