$color-primary: #94b5fa;
$color-primary-light: #dcecfd;
$color-primary-dark: #5083f2;
$color-grey-light-1: #fafafa;
$color-grey-light-2: #ebebeb;
$color-grey-light-3: #aaa;
$color-grey-dark-1: #999;
$color-grey-dark-2: #414342;
$color-p1: #f8605e;
$color-p2: #f69400;
$color-p3: #19a553;
$color-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.4);
$item-width: 90%;
$font-primary: 'Roboto', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  color: $color-grey-dark-2;
  position: relative;
  word-wrap: break-word;
}

::placeholder {
  color: $color-grey-light-3;
}
