.icon {
  height: 1.8rem;
  width: 1.8rem;
  fill: $color-grey-dark-2;

  &--pencil {
    height: 5rem;
    width: 5rem;
    fill: white;
    margin-right: 2rem;
  }

  &--delete {
    margin-left: auto;
    fill: $color-grey-dark-1;
    cursor: pointer;

    &:hover {
      scale: 1.15;
    }
  }
}

.add-item {
  line-height: 4.5rem;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  gap: 1.5rem;
  padding: 0 2.2rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: $color-grey-light-2;
  }

  &--task {
    width: $item-width;
    height: 6rem;
  }
}

.categories {
  overflow-y: scroll;
  height: 18rem;

  &__item {
    &--text {
      line-height: 1.1;
    }

    &--delete {
      opacity: 0;
    }

    &:hover &--delete {
      opacity: 1;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($color-primary-dark, 0.4);

    &:hover {
      background: $color-primary-dark;
    }
  }
}

.popup-container--task {
  width: $item-width;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem;

  &__input {
    height: 4rem;
    border-radius: 3px;
    border: 1px solid $color-grey-light-3;
    padding: 0 8px;
    font-size: 1.8rem;
    outline: none;
  }

  &__task {
    height: 6rem;
    padding: 0 5rem 0 3rem;
    display: flex;
    align-items: center;
    background-color: $color-grey-light-1;

    &--name {
      flex: auto;
      max-width: 60rem;
    }

    &--date {
      margin: 0 auto 0 2rem;
      flex: 0 0 auto;
    }

    .btn--cancel {
      margin-left: 2rem;
    }
  }
}

.popup__btns {
  display: flex;
  justify-content: center;
  gap: 2rem;

  .btn {
    width: 12rem;
    padding: 0.8rem 0;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.8rem;

    &--cancel {
      background-color: white;
      color: $color-grey-dark-1;
      border: 2px solid $color-grey-light-3;

      &:hover {
        color: $color-primary-dark;
        border: 2px solid $color-primary-dark;
        background-color: $color-grey-light-1;
        background-color: rgba($color-primary-light, 0.2);
      }
    }

    &--add {
      background-color: rgba($color-primary-dark, 0.8);
      color: white;
      border: 2px solid $color-primary-light;

      &:hover {
        background-color: $color-primary-dark;
      }
    }
  }
}

.checkbox {
  &__box {
    display: none;
  }

  &__label {
    font-size: 2rem;
    cursor: pointer;
    position: relative;
  }

  &__btn {
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    border: 3px solid $color-primary;
    display: inline-block;
    position: absolute;
    left: -2rem;
    top: 0.3rem;

    &::after {
      content: '';
      display: block;
      height: 1rem;
      width: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__box:checked ~ &__label &__btn::after {
    opacity: 1;
    background-color: $color-primary;
  }
}

.todo-item {
  height: 6rem;
  width: $item-width;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
  background-color: $color-grey-light-1;
  border-radius: 5px;
  cursor: pointer;

  &--completed {
    text-decoration: line-through;
    & > * {
      color: $color-grey-light-3;
    }
  }

  &__title {
    padding-left: 2rem;
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__date {
    cursor: pointer;
  }

  &--category {
    width: $item-width;
    margin: 0 auto;
    height: 5rem;
    padding: 2rem 0 0 5rem;
    font-size: 3.5rem;
    color: $color-primary;
  }

  &:hover {
    background-color: $color-primary-light;
  }
}
