.icon {
  height: 1.8rem;
  width: 1.8rem;
  fill: $color-grey-dark-2;
  transition: all 0.2s;

  &--pencil {
    height: 5rem;
    width: 5rem;
    fill: white;
    margin-right: 2rem;
  }

  &--edit {
    margin-left: 2rem;

    &:hover {
      scale: 1.15;
    }
  }

  &--delete {
    fill: $color-grey-dark-1;
    margin-left: auto;

    &:hover {
      scale: 1.15;
    }
  }
}

.add-item {
  line-height: 4.5rem;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  gap: 1.5rem;
  padding: 0 2.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: transparent;
    color: $color-primary-dark;

    svg {
      fill: $color-primary-dark;
    }
  }

  &--task {
    width: 20rem;
    margin: 0 7%;
  }
}

.checkbox {
  &__box {
    display: none;
  }

  &__label {
    font-size: 2rem;
    cursor: pointer;
    position: relative;
  }

  &__btn {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 3.5px solid $color-primary;
    display: inline-block;
    position: absolute;
    left: -2rem;
    top: 0.3rem;

    &::after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      display: block;
      height: 9px;
      width: 9px;
      position: absolute;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__box:checked ~ &__label &__btn::after {
    opacity: 1;
    background-color: $color-primary;
  }
}

.no-display {
  display: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
