use {
  z-index: 20;
}

svg {
  pointer-events: auto;
}

.icon {
  z-index: 10;
  height: 1.8rem;
  width: 1.8rem;
  fill: var(--font-icon-primary);
  transition: all 0.2s;

  &--pencil {
    height: 5rem;
    width: 5rem;
    fill: var(--logo-fill);
    margin-right: 2rem;
  }

  &--edit {
    margin-left: 2rem;

    &:hover {
      fill: var(--primary-dark);
    }
  }

  &--delete {
    margin-left: auto;
    fill: var(--delete-icon);

    &:hover {
      fill: var(--primary-dark);
    }
  }
}

.add-item {
  line-height: 4.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;

  .icon {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    transform: translateY(-1px);
  }

  &:hover {
    background-color: transparent;
    color: var(--primary);

    .icon {
      background-color: var(--primary);
      fill: var(--main-bg);
    }
  }

  &--category {
    margin-left: 2.2rem;
    margin-top: 2rem;
    width: 19rem;
  }

  &--task {
    width: 12rem;
  }
}

.checkbox {
  &__box {
    display: none;
  }

  &__label {
    font-size: 2rem;
    cursor: pointer;
    position: relative;
  }

  &__btn {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 3px solid var(--checkbox-border);
    position: absolute;
    left: -2.4rem;
  }

  &__icon--check {
    transform: translate(-19px, 1px);
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0;
    transition: opacity 0.2s;
    fill: var(--checkbox-border);

    &:hover {
      opacity: 1;
    }
  }
  &__box:checked ~ &__label &__icon--check {
    opacity: 1;
    fill: var(--task-bg);
  }

  &__box:checked ~ &__label &__btn {
    background-color: var(--checkbox-border);
  }
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  right: 4rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  width: 60px;

  input {
    display: none;
  }
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--primary-dark);

  &:before {
    transform: translateX(26px);
  }
}

.slider.round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}

.no-display {
  display: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

textarea {
  resize: none;
}

::placeholder {
  color: var(--input-border);
}
