.categories {
  @include scrollbar;
  overflow-y: scroll;
  max-height: 30vh;

  &__item {
    &--delete {
      opacity: 0;
    }

    &:hover &--delete {
      opacity: 1;
    }
  }
}

.task-card {
  width: 100%;
}

.task {
  height: 6rem;
  width: 100%;
  padding: 0 5rem;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  border-left: 6px solid var(--task-bg);
  border-right: 6px solid var(--task-bg);
  background-color: var(--task-bg);
  border-radius: 6px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.2s;

  @include respond(tab-land) {
    height: 8rem;
  }

  @include respond(phone) {
    padding: 0 1.2rem 0 3.2rem;
    border-left: 4px solid var(--task-bg);
    border-right: 4px solid var(--task-bg);
  }

  &__title {
    @include respond(phone) {
      padding: 0 1rem;
    }
  }

  &:hover {
    background-color: var(--task-hover);
    border-left: 6px solid var(--task-hover);
    border-right: 6px solid var(--task-hover);

    @include respond(phone) {
      border-left: 4px solid var(--task-bg);
      border-right: 4px solid var(--task-bg);
    }
  }

  &--high {
    border-left: 6px solid var(--p1) !important;

    @include respond(phone) {
      border-left: 4px solid var(--p1) !important;
    }
  }

  &--medium {
    border-left: 6px solid var(--p2) !important;

    @include respond(phone) {
      border-left: 4px solid var(--p2) !important;
    }
  }

  &--low {
    border-left: 6px solid var(--primary) !important;

    @include respond(phone) {
      border-left: 4px solid var(--primary) !important;
    }
  }

  &--completed {
    text-decoration: line-through;
    & > * {
      color: var(--checkbox-border);
      text-decoration: var(--line-through) line-through;
    }
  }

  &__head {
    display: flex;
    align-items: center;
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include respond(phone) {
      gap: 0.8rem;
    }
  }

  &__date {
    min-width: 70px;
  }

  &--category-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 3.2rem;
    font-size: 5rem;
    color: var(--primary);

    @include respond(phone) {
      font-size: 4.5rem;
    }
  }
}
