.categories {
  @include scrollbar;
  overflow-y: scroll;
  max-height: 30vh;

  &__item {
    &--delete {
      opacity: 0;
    }

    &:hover &--delete {
      opacity: 1;
    }
  }
}

.task {
  height: 6rem;
  width: 100%;
  padding: 0 5rem;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  border-left: 6px solid var(--task-bg);
  border-right: 6px solid var(--task-bg);
  background-color: var(--task-bg);
  border-radius: 6px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.2s;

  &--high {
    border-left: 6px solid rgba(#f77b72, 0.6);
  }

  &--medium {
    border-left: 6px solid rgba(#ffb74d, 0.6);
  }

  &--low {
    border-left: 6px solid rgba(#4db6ac, 0.6);
  }

  &--completed {
    text-decoration: line-through;
    & > * {
      color: var(--checkbox-border);
      text-decoration: var(--line-through) line-through;
    }
  }

  &__head {
    display: flex;
    align-items: center;
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &--category-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 3.2rem;
    font-size: 5rem;
    color: var(--primary);
  }

  &:hover {
    background-color: var(--task-hover);
  }
}
