.content {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 15rem 1fr;
  grid-template-columns: 42rem 1fr;
  overflow: hidden;

  @include respond(tab-land) {
    grid-template-rows: 12rem 1fr;
  }
}

.header {
  grid-column: 1 / -1;
  background: var(--header-bg);
  color: var(--logo-fill);
  padding-left: 2rem;
  display: flex;
  align-items: center;
  font-family: 'Baloo Thambi 2', cursive;
  overflow: hidden;
  position: sticky;

  &__text {
    color: var(--logo);

    @include respond(tab-land) {
      font-size: 7rem;
      transform: translateX(-2rem);
    }

    @include respond(tab-port) {
      font-size: 6rem;
    }
  }

  @include respond(tab-land) {
    justify-content: center;
  }
}

.sidebar {
  background-color: var(--sidebar-bg);
  padding: 3.2rem 3rem 6rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // position: sticky;
  top: 0;
  z-index: 50;
  gap: 1rem;

  @include respond(tab-land) {
    position: fixed;
    transition: all 0.3s;
    right: 0;
    transform: translateX(100%);
    top: 12rem;
    height: calc(100vh - 12rem);
    background-color: var(--sidebar-bg-dark);
  }

  &__filter-option {
    list-style: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0 2.2rem;
    transition: all 0.2s;
    height: 4.5rem;

    &:hover {
      background-color: var(--filter-hover);
    }

    &--active,
    &--active:hover {
      background-color: var(--filter-active);
    }
  }

  &__category-title {
    padding-top: 1.2rem;
    padding-bottom: 1rem;
  }
}

.task-container {
  @include scrollbar;
  overflow-y: auto;
  max-height: 65vh;
  padding: 3rem 0rem 2rem 0rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  &__empty-message {
    color: var(--font-notice);
    font-size: 3.5rem;
    font-weight: 300;
    padding-top: 5rem;

    @include respond(tab-port) {
      width: 80%;
      margin-left: 2rem;
    }
  }
}

.overlay--new,
.overlay--edit,
.overlay--view {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  z-index: 100;
}
