.content {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-template-columns: 35rem 1fr;
  overflow: hidden;
}

.header {
  grid-column: 1 / -1;
  background: $color-primary;
  color: white;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  font-family: 'Baloo Thambi 2', cursive;
  overflow: hidden;
}

.sidebar {
  background-color: $color-grey-light-1;
  line-height: 2.5;
  padding: 3rem;
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;

  &__filter-option {
    list-style: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0 2.2rem;
    transition: all 0.2s;

    &--active {
      background-color: $color-primary-light;
    }

    &:hover {
      background-color: $color-grey-light-2;
    }
  }
}

.task-container {
  overflow-y: auto;
  max-height: 73vh;
  padding: 3rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  @include scrollbar;
}

.overlay--new,
.overlay--edit,
.overlay--view {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  // visibility: visible;
  // opacity: 1;
}
