@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary);

    &:hover {
      background: var(--primary-dark);
    }
  }
}

@mixin inputBox {
  border: 2px solid var(--input-border);
  border-radius: 3px;
  font-size: 1.8rem;
  color: var(--font-icon-primary);
  padding: 1rem;
  transition: all 0.3s;
  background-color: var(--input-bg);
  caret-color: var(--caret);

  &:focus {
    outline: 0;
    border: 2px solid var(--input-focus);
    box-shadow: var(--input-shadow);
  }
}

@mixin popupOpen {
  transform: scale(1);
  visibility: visible;
}

// Media query manager
@mixin respond($breakpoint) {
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}
