@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar);

    &:hover {
      background: var(--primary-dark);
    }
  }
}

@mixin inputBox {
  border: 2px solid var(--input-border);
  border-radius: 3px;
  font-size: 1.8rem;
  color: var(--font-icon-primary);
  padding: 1rem;
  transition: all 0.3s;
  background-color: var(--input-bg);
  caret-color: var(--caret);

  &:focus {
    outline: 0;
    border: 2px solid var(--input-focus);
    box-shadow: var(--input-shadow);
  }
}

@mixin popupOpen {
  transform: scale(1);
  visibility: visible;
}
