@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($color-primary-dark, 0.7);

    &:hover {
      background: $color-primary-dark;
    }
  }
}

@mixin inputBox {
  border: 2px solid $color-grey-light-3;
  border-radius: 3px;
  font-size: 1.8rem;
  color: $color-grey-dark-2;
  padding: 1rem;
  transition: all 0.3s;

  &:focus {
    outline: 0;
    border: 2px solid $color-primary-light;
    box-shadow: 0 0 5px rgba($color-primary, 0.2);
  }
}

@mixin popupOpen {
  transform: scale(1);
  visibility: visible;
}
