.popup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem;

  &__input {
    @include inputBox;
    height: 4rem;
    width: 75%;
  }

  //TODO to be deleted
  &__task {
    height: 6rem;
    padding: 0 5rem 0 3rem;
    display: flex;
    align-items: center;
    background-color: $color-grey-light-1;
    width: $item-width;

    &--name {
      flex: auto;
      max-width: 60rem;
    }

    &--date {
      margin: 0 auto 0 2rem;
      flex: 0 0 auto;
      &::-webkit-datetime-edit {
        color: $color-grey-light-3;
      }
    }
  }
}

.popup__btns {
  display: flex;
  gap: 2rem;

  .btn {
    width: 8.8rem;
    padding: 0.8rem 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all, 0.3s;

    &--cancel {
      background-color: white;
      color: $color-grey-dark-1;
      border: 2px solid $color-grey-light-3;

      &:hover {
        color: $color-primary-dark;
        border: 2px solid $color-primary-dark;
        background-color: $color-grey-light-1;
        background-color: rgba($color-primary-light, 0.2);
      }
    }

    &--add {
      background-color: rgba($color-primary-dark, 0.8);
      color: white;
      border: 2px solid $color-primary-light;

      &:hover {
        background-color: $color-primary-dark;
      }
    }
  }
}

.task-view {
  position: fixed;
  height: 30rem;
  width: 52rem;
  box-shadow: $color-shadow;
  color: $color-grey-dark-2;
  padding: 1.5rem 3.5rem;
  background-color: white;
  border-radius: 5px;
  z-index: 800;
  font-weight: 300;
  display: flex;
  align-items: center;
  transition: all 0.3s;

  &--open {
    @include popupOpen;
  }

  &--close {
    position: absolute;
    top: 0.8rem;
    right: 1.2rem;
    font-size: 3.5rem;
    line-height: 1;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    font-size: 1.8rem;
    color: $color-grey-dark-2;

    & > *:not(:first-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__title {
    font-size: 3.4rem;
    font-weight: 500;
    color: $color-primary-dark;
    line-height: 1;
    margin-bottom: 2.8rem;
  }

  &__name {
    font-weight: 500;
  }

  &__category &__name {
    margin-right: 3.6rem;
  }

  &__priority &__name {
    margin-right: 5.1rem;
  }

  &__date &__name {
    margin-right: 3.7rem;
  }

  &__description &__name {
    margin-right: 1.8rem;
  }

  &__description {
    display: flex;
  }
}
