.popup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem;

  &__input {
    @include inputBox;
    height: 4.2rem;
    width: 85%;
  }
}

.popup__btns {
  display: flex;
  gap: 2rem;

  .btn {
    width: 13rem;
    padding: 0.8rem 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all, 0.3s;

    &--cancel {
      background-color: var(--cancel-btn-bg);
      color: var(--cancel-btn-border);
      border: 2px solid var(--cancel-btn-border);

      &:hover {
        color: var(--primary);
        border: 2px solid var(--primary);
        background-color: var(--cancel-btn-hover);
      }
    }

    &--add {
      background-color: var(--primary);
      color: var(--cancel-btn-bg);
      border: 2px solid var(--primary);

      &:hover {
        background-color: var(--primary-dark);
      }
    }
  }
}

.task-view {
  position: fixed;
  max-height: 35rem;
  width: 55rem;
  box-shadow: var(--shadow);
  color: var(--font-icon-primary);
  padding: 3rem;
  background-color: var(--form-bg);
  border-radius: 5px;
  font-weight: 300;
  display: flex;
  align-items: center;
  transition: all 0.3s;

  &--open {
    @include popupOpen;
  }

  &--close {
    position: absolute;
    top: 0.8rem;
    right: 1.2rem;
    font-size: 3.5rem;
    line-height: 1;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: var(--primary);
    }
  }

  &__content {
    font-size: 1.8rem;
    color: var(--font-icon-primary);

    & > *:not(:first-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--primary);
    line-height: 1.2;
    margin-bottom: 2.8rem;
  }

  &__name {
    font-weight: 500;
  }

  &__category &__name {
    margin-right: 5.1rem;
  }

  &__priority &__name {
    margin-right: 5.1rem;
  }

  &__date &__name {
    margin-right: 3.7rem;
  }

  &__description &__name {
    margin-right: 1.8rem;
  }

  &__description {
    display: flex;

    &--text {
      @include scrollbar;
      max-height: 15rem;
      line-height: 1.5;
      overflow-y: scroll;
    }
  }
}
